{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "URI_PREFIX": false,
    "SIGNALING_URL": false,
    "SIGNALING_PATH": false,
    "describe": false,
    "it": false,
    "expect": false,
    "shallow": false
  },
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/media-has-caption": 0,
    "no-useless-escape": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 2,
    "object-curly-newline": 0,
    "react/button-has-type": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "import/no-extraneous-dependencies": 0
  }
}
