@import '../../variables.css';

.button {
  font-family: var(--preferred-font);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  cursor: pointer;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #509EE3;
  border-radius: 3px;
  color: #fff;

  &:focus {
    outline: none;
  }
}
