@import './variables.css';
@import './typography.css';

body {
  font-family: var(--preferred-font);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
