:root {
  --preferred-font: 'Open Sans', sans-serif;
  --font-size: 13px;
  --font-size-normal: var(--font-size);
  --font-size-big: 16px;
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --video-border-color: #000;
}
